<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463622070793-80juvhjve8l1316jo0tud7jh72p5niep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463622070793-80juvhjve8l1316jo0tud7jh72p5niep</string>
	<key>API_KEY</key>
	<string>AIzaSyCCC2BAtGnIbfi_bJ7y37YdmCAzwtNkyYo</string>
	<key>GCM_SENDER_ID</key>
	<string>463622070793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.maryland.cmsc436.spring2020.openTok</string>
	<key>PROJECT_ID</key>
	<string>assign5-b10e6</string>
	<key>STORAGE_BUCKET</key>
	<string>assign5-b10e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463622070793:ios:48613c06a51ec13b9a8ed8</string>
	<key>DATABASE_URL</key>
	<string>https://assign5-b10e6.firebaseio.com</string>
</dict>
</plist>